examples/wasp-frame-example.json
[{"id":"7f8c4b6e54aa21c9","type":"tab","label":"wasp-frame Example","disabled":false,"info":"","env":[]},{"id":"dac6733f9e1be824","type":"inject","z":"7f8c4b6e54aa21c9","name":"run1","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":80,"wires":[["3f7c17ebd834e3c1"]]},{"id":"3f7c17ebd834e3c1","type":"template","z":"7f8c4b6e54aa21c9","name":"incorrect message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"TEST MESSAGE OVER MQTT\nTEST MESSAGE OVER MQTT\nTEST MESSAGE OVER MQTT\nTEST MESSAGE OVER MQTT\nTEST MESSAGE OVER MQTT","output":"str","x":330,"y":80,"wires":[["da117fd7cfb9f826"]]},{"id":"da117fd7cfb9f826","type":"wasp-frame","z":"7f8c4b6e54aa21c9","name":"","fullNameOutput":false,"x":590,"y":120,"wires":[["1ac7f08d484608a5"]]},{"id":"5c01adbe39798118","type":"inject","z":"7f8c4b6e54aa21c9","name":"run2","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":160,"wires":[["238ce9acf372ddf5"]]},{"id":"238ce9acf372ddf5","type":"template","z":"7f8c4b6e54aa21c9","name":"correct message string","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"<=>#1A2B3C4D1A2B3C4D#NB_IOT_TCP#0#EV_A:0#EV_C:0#EV_D:0#WF:0.000#BAT:65#TST:1652954095#","output":"str","x":320,"y":160,"wires":[["da117fd7cfb9f826"]]},{"id":"1ac7f08d484608a5","type":"debug","z":"7f8c4b6e54aa21c9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":120,"wires":[]}]